<form *ngIf="beer" (ngSubmit)="onSubmit()" #beerForm="ngForm">
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="card-panel">

        <!-- Beer name -->
        <div class="form-group">
          <label for="name">Nom</label>
          <input type="text" class="form-control" id="name"
                 pattern="^.{1,55}$"
                 required
                 [(ngModel)]="beer.name" name="name"
                 #name="ngModel">

           <!-- error -->
           <div [hidden]="name.valid || name.pristine"
               class="card-panel red accent-1">
               Le nom de la bière est requis (1-55).
          </div>
        </div>

        <!-- Beer picture -->
        <div class="form-group">
          <label for="picture">Image</label>
          <input type="text" class="form-control" id="picture"
                 pattern="^app/labels/assets/.+$"
                 required
                 [(ngModel)]="beer.picture" name="picture"
                 #picture="ngModel">

           <div [hidden]="picture.valid || picture.pristine"
               class="card-panel red accent-1">
               Adresse invalide, veuillez renseigner une adresse correcte (app/labels/assets/...)
          </div>
        </div>


        <!-- Beer Alcool -->
        <div class="form-group">
          <label for="alcool">% Alcool</label>
          <input type="number" class="form-control" id="alcool"
                 pattern="^\d*(\.\d+)?$"
                 min="0.0"
                 max="45.0"
                 step=0.1
                 required
                 [(ngModel)]="beer.alcool" name="alcool"
                 #alcool="ngModel">

           <div [hidden]="alcool.valid || alcool.pristine"
               class="card-panel red accent-1">
                Mauvais taux d'alcool (0-45).
          </div>
        </div>

        <!-- Beer ebc -->
        <div class="form-group">
          <label for="ebc">EBC</label>
          <input type="number" class="form-control" id="ebc"
                 pattern="^\d*(\.\d+)?$"
                 min="0.0"
                 max="90.0"
                 step="0.5"
                 required
                 [(ngModel)]="beer.ebc" name="ebc"
                 #ebc="ngModel">

           <div [hidden]="ebc.valid || ebc.pristine"
               class="card-panel red accent-1">
               Valeur incorrecte pour l'échelle de couleur (1-90).
          </div>
        </div>

        <!-- Beer ibu -->
        <div class="form-group">
          <label for="ibu">IBU</label>
          <input type="number" class="form-control" id="ibu"
                 pattern="^\d*(\.\d+)?$"
                 min="0.0"
                 max="120.0"
                 step="0.5"
                 required
                 [(ngModel)]="beer.ibu" name="ibu"
                 #ibu="ngModel">

           <div [hidden]="ibu.valid || ibu.pristine"
               class="card-panel red accent-1">
               Valeur incorrecte pour l'échelle d'amertume (0-120).
          </div>
        </div>

        <!-- Beer types -->
        <div class="form-group">
          <label for="types">Types</label>
        <div *ngFor="let type of types" class="row">
          <input type="checkbox"
                 class="filled-in"
                 id="{{ type }}"
                 [value]="type"
                 [checked]="hasType(type)"
                 [disabled]="!isTypesValid(type)"
                 (change)="selectType($event, type)"
                />
          <label [attr.for]="type">
            <span class="{{ type | beerTypeColor }}">{{ type }}</span>
          </label>
        </div>
        </div>

        <div class="form-group">
          <label for="seed">Seed</label>
          <input type="number" class="form-control" id="seed"
                 pattern="^[0-9]{1,5}$"
                 min=0
                 max=65535
                 required
                 [(ngModel)]="beer.seed" name="seed"
                 #seed="ngModel">

           <div [hidden]="seed.valid || seed.pristine"
               class="card-panel red accent-1">
               Valeur incorrecte pour l'échelle de couleur (0-65535).
          </div>
        </div>

        <!-- Submit button -->
        <div class="divider"></div>
        <div class="section center">
          <button type="submit"
                  class="waves-effect waves-light btn"
                  [disabled]="!beerForm.form.valid">
                  Valider</button>
        </div>

      </div>
    </div>
  </div>
</form>
<h3 *ngIf="!beer" class="center">Aucune bière à éditer...</h3>
