
#rect-centre {
  /* transform-origin: top left;
  transform: rotate(45deg); */
}

.compo {
  writing-mode:tb;
  glyph-orientation-vertical:0;
}
.svg-container {
display: inline-block;
position: relative;
width: 100%;
vertical-align: middle;
padding-top: 2.5%;
overflow: hidden;
}
